/* Toggler Navbar */
.navbar-toggler {
  border: none;
  padding: 7px;
  border-radius: 0;
}

.navbar-toggler .icon-bar {
  width: 28px;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  background: #069ee8;
  height: 2px;
  display: block;
}

.navbar-toggler .top-bar {
  -webkit-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transform-origin: 10% 10%;
  transform-origin: 10% 10%;
  left: 0;
  position: relative;
}

.navbar-toggler .middle-bar {
  opacity: 1;
  margin: 6px 0;
}

.navbar-toggler .bottom-bar {
  -webkit-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transform-origin: 10% 90%;
  transform-origin: 10% 90%;
  left: 0px;
  position: relative;
}

.navbar-toggler[aria-expanded="true"] .top-bar {
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
  left: 0;
}

.navbar-toggler[aria-expanded="true"] .middle-bar {
  opacity: 0;
}

.navbar-toggler[aria-expanded="true"] .bottom-bar {
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
  left: 0;
}
